* {
	cursor: url('https://img.imgdb.cn/item/60697b638322e6675c5e7e25.png'), auto;
}

a:hover {
	cursor: url('https://img.imgdb.cn/item/6065fb418322e6675c282194.png'), pointer !important;
}

.h2_center {
	text-align: center;
	font-size: 25px;
	color: #05c81d;
}

#main {
	text-align: center;
	font-size: 1.5em;
	padding-top: 15px;
}

.h3_styl {
	margin-top: 20px;
	color: #f60808;
}

.ArticleTitle { 
    text-align: center;
    color: #fafafa;
    letter-spacing: 0;
    text-shadow: 
        0px 1px 0px #aaa, /* 更浅的颜色渐变 */
        0px 2px 0px #999,
        0px 3px 0px #888,
        0px 4px 0px #777,
        0px 5px 0px #666, /* 调整中间的颜色过渡 */
        0px 6px 0px #555,
        0px 7px 1px #444, /* 添加模糊效果增强立体感 */
        0px 8px 2px rgba(0, 0, 0, 0.5); /* 最底部增加柔和阴影 */
}
