html {
    background-color: #f4f4f4;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
}
.clearfix {
    zoom: 1;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
a {
    text-decoration: none;
    color: #266da1;
}

a:hover {
    text-decoration: none;
}

div,input,button,ul,li {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.text-right {
    text-align: right;
}

li, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.trans {
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.top {
    height: 56px;
    background-color: #000024; /*  1b1937 */
}
    .top .wrap {
        position: relative;
    }
    .top .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        height: 56px;
        background-repeat: no-repeat;
        background-size: auto 93px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .top .logo img {
        float: left;
        height: 100%;
    }
    .top .logo b {
        float: left;
        line-height: 54px;
    }
    .top .logo span {
        position: absolute;
        right: 0px;
        bottom: 1px;
        font-size: 10px;
        font-weight: normal;
        color: #a64067;
    }

.navbox {
    position: relative;
}
    .navbox .my {
        position: absolute;
        top: 16px;
        right: 5px;
        font-size: 12px;
        color: #999;
        text-align: center;
    }
    .navbox .my img {
        vertical-align:middle;
    }
    .navbox .my a {
        color: #fff;
        margin: 9px 0 0 0;
        border-radius: 15px;
    }
    .my .nickbox {
        margin: 9px 0 0 0;
        background-color: #999;
    }
.nav {
    padding: 20px 0;
    margin-right: 45px;
}
    .nav a {
        display: inline-block;
        margin: 2px 1px;
        padding: 0 8px;
        border-radius: 8px;
        color: #FFF;
        font-size: 14px;
        line-height: 32px;
        letter-spacing: 1px;
    }
    .nav a i {
        font-size: 16px;
    }
    .nav a:hover {
        border-radius: 0;
    }
    .nav a:hover  i {
        color: green;
    }
    .c1 {
        background-color: #afd75a;
    }
    .c2 {
        background-color: #6cc29d;
    }
    .c3 {
        background-color: #76b0e0;
    }
    .c4 {
        background-color: #a38fc4;
    }
    .c5 {
        background-color: #d486ae;
    }
    .c6 {
        background-color: #f47264;
    }
    .c7 {
        background-color: #fcac33;
    }
    .c8 {
        background-color: #e1b107;
    }
    .c9 {
        background-color: #80b618;
    }
    .c10 {
        background-color: #419853;
    }
    .c11 {
        background-color: #3a75a1;
    }
    .c12 {
        background-color: #615aa0;
    }
    .c13 {
        background-color: #a64067;
    }
 .c14 {
        background-color: #62401c;
    }
 .c15 {
        background-color: #BF3EFF;
    }
 .c16 {
        background-color: #FFBBFF;
    }
.main {
    background-color: #fff;
    min-height: 800px;
    border-radius: 5px;
    border: 1px solid #ddd;
}
    .main h1 {
        font-size: 18px;
        padding: 0 20px;
        margin-bottom: 0;
        text-align: center;
        color: #444;
    }
    .main h2 {
        display: inline-block;
        margin: 20px 0 10px 1px;
        padding: 5px 10px;
        font-size: 14px;
        color: #fff;
        letter-spacing: 1px;
        border-radius: 0 10px 0 0;
        font-weight: normal;
    }
    .main h3 {
        position: relative;
        margin: 10px 0 20px 10px;
        color: #444;
        letter-spacing: 1px;
    }
    .main h3 .sync {
        position: absolute;
        top: -1px;
        right: 188px;
        font-size: 12px;
    }
    .main h3 .set {
        position: absolute;
        top: -1px;
        right: 90px;
        font-size: 12px;
    }
    .main h3 .defalut {
        position: absolute;
        top: -1px;
        right: 5px;
        font-size: 12px;
    }
    .main h4 {
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: normal;
        background-color: #f2f2f2;
        color: #999;
        display: inline-block;
        padding: 5px 10px;
        margin: 20px 0 5px;
        cursor: pointer;
    }
    .main h4 i {
        color: #ddd;
    }
    .main li {
        position: relative;
        padding: 5px 10px;
    }
    .main li a {
        display: block;
        background-color: #ced1cc;
        padding: 5px 10px;
        font-size: 14px;
        color: #333;
        border-radius: 2px;
        letter-spacing: 1px;
    }
    .main li a:hover {
        box-shadow: 0px 0px 5px 5px #000;
		border-radius: 50px 50px 50px 50px;
		color: #f00;
    }
    .main li i {
        position: absolute;
        top: 11px;
        right: 15px;
        display: none;
        color: #fff;
        cursor: pointer;
    }
    .main li i:hover {
        color: #1c29f7;
    }

    .swiper-container {
        height: 100%;
        -webkit-perspective: 1200px;
        -moz-perspective: 1200px;
        -ms-perspective: 1200px;
        perspective: 1200px;
      }
      .swiper-wrapper, .swiper-slide {
        /* 原始3D旋转效果
         -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d; */
        padding-bottom: 10px;
        border-radius: 5px;
      }
      .swiper-slide {
        position: relative;
        background-color: #fff;
      }

#sc {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 32px;
    color: #e4393c;
    display: none;
    z-index: 100000;
}

#lean_overlay {
    position: fixed;
    z-index:10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal_close, .modal_close2 {
    position: absolute; 
    top: 12px;
    right: 12px; 
    display: block; 
    width: 14px; 
    height: 14px; 
    z-index: 2;
    text-decoration: none;
    color: #e4393c
}
#setbox, #settingbox, #classbox, #classeditbox {
    font-size: 14px;
    width: 900px;
    padding: 20px;
    display: none;
    background: #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.5);
}
.addclass {
    color: #c00;
    font-size: 12px;
    letter-spacing: 1px;
}


.topnav {
    margin-left: 250px;
}
.topnav a {
    color: #cccccc;
    font-size:18px;
    margin-right: 30px;
    line-height: 56px;
}
.topnav a.active {
    color: #fff;
    font-weight: bold;
}

.x_container{
    width: 100%;
    position: absolute;
    margin: 56px 0 0 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    padding:0;
}

.x_left-nav{
    position: relative;
    float: left;
    padding-top: 10px;
    width: 175px;
    height: 100%;
    background: #E8E8E8;
    overflow: auto;
}
.x_left-nav i {
    display: none;
}
.x_left-nav ul li{
    list-style: none;
    height:32px;
    position: relative;
}
.x_left-nav ul li:hover{
    background:#ffffff;
}
.x_left-nav ul li img{
    position: absolute;
    left: 25px;
    top: 8px;
    width: 16px;
}
.x_left-nav ul li a {
    display: block;
    font-size: 14px;
    padding-left: 46px;
    line-height: 32px;
    text-decoration: none;
    cursor: pointer;
    color:#000;
}
.x_main{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: 155px;
    height: 100%;
    overflow: hidden;
}
#mb {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #000;
    background-image: url('http://www.uziqaq.com/view/img/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 999999;
}
.scroll-wrapper {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch; 
    overflow-y: auto; 
}
iframe {
    width: 100%;
    min-height: 99%;
    border: 0;
}

.notice {
    position: absolute;
    top: 0px;
    right: 100px;
    background-color: #333;
    padding: 3px 8px;
    border-radius: 0 0 3px 3px;
    z-index: 1000;
    width: 77px;
    height: 22px;
    overflow: hidden;
}
.notice .iconfont {
    float: left;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
    color: #ff2d51;
}
.notice a {
    float: left;
    color: #fff;
    font-size: 12px;
}

.login {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    box-shadow: 0 1px 30px rgba(0,0,0,0.2);
    background-color: #fff;
    background-image: url('http://www.uziqaq.com/image/b.jpg');
    background-repeat: no-repeat;
    background-size: 50% 100%;
}
    .login h1 {
        padding: 10px;
    }
    .login form {
        padding: 50px;
    }
    .login form input[type="email"], .login form input[type="password"], .login form button {
        width: 100%;
    }
    .login form .tit {
        margin-top: 16px;
    }
    .login form .pure-checkbox {
        font-size: 14px;
        margin: 0;
    }
    .login form .reglink {
        text-align: right;
        font-size: 14px;
    }
    .login form .forgotpassword {
        font-size: 14px;
    }
    .login form button {
        margin: 20px 0 20px;
    }
.pure-form label.error {
    font-size: 12px;
    color: #c00;
}
.pure-form input.error {
    border: 1px solid #c00;
    background-color: #FEDFE1;
}

.menusmall {
    display: none;
}
.menubig {
    display: block;
}
.top .logo h1 {
    float: left;
    line-height: 54px;
}

@media only screen and (max-width :768px){
    .menubig {
        display: none;
        margin-left: 0;
        padding: 0 10px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 1000;
    }
    .menubig a {
        line-height: 42px;
        display: inline-block;
    }
    .menusmall {
        display: block;
        float: right;
        padding-right: 10px;
        line-height: 56px;
    }
    .menusmall a {
        color: #fff;
    }
    .menusmall a .icon {
        font-size: 24px;
        font-weight: bold;
    }

	.logo h1{
	    font-size: 16px;
	}
	.logo img{
		height: 40px;
	    width: 60px;
	}
	.logo b{
	    font-size: 15px;
	}
    .x_left-nav{
        float: none;
        padding-top: 0;
        width: 100%;
        height: 32px;
        background: #E8E8E8;
        position: relative;
        overflow-y: hidden;
        overflow-x: scroll;
        z-index: 200;
    }
    .x_left-nav i {
        display: block;
        position: fixed;
        right: 0;
        top: 56px;
        z-index: 10000;
        line-height: 32px;
        padding: 0 2px;
        color: #c00;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .x_left-nav ul {
        white-space: nowrap;
    }
    .x_left-nav ul li {
        margin: 0;
        display: inline-block;
    }
    .x_left-nav ul li img {
        position: absolute;
        left: 10px;
    }
    .x_left-nav ul li a {
        padding-left: 30px;
        padding-right: 5px;
    }
    .x_main{
        margin-left: 0;
        padding-top: 32px;
    }
    #mb {
        top: 32px;
    }

    .notice {
        top: auto;
        bottom: -11px;
        right: 10px;
        border-radius: 3px;
    }
    .navbox .my {
        top: auto;
        bottom: 20px;
    }
}