a,aside,body,div,footer,html,i,img,li,nav,p,section,ul {
	padding:0;
	margin:0
}
li {
	list-style:none
}
a {
	text-decoration:none
}
body {
	font-size:12px;
	color:#4d4d4d;
	font-family:Helvetica Neue,Microsoft Yahei
}
.container,.main,body {
	background:#f3f6f8
}
.iconfont {
	color:#6b7386;
	padding-right:4px
}
.container .left-bar {
	position:fixed;
	padding:0 20px;
	background:#30333c;
	color:#6b7386;
	box-sizing:border-box;
	flex-direction:column;
	height:100vh;
	display:flex;
	width:208px;
	transition:all .5s
}
.container .main {
	position:relative;
	display:flex;
	flex-direction:column;
	-webkit-box-orient:vertical;
	margin-left:248px
}
.container .main .iconfont {
	font-size:18px;
	color:#000
}
.set-scroll {
	background-color:#494f5e;
	border-radius:0;
	width:4px
}
.left-bar .title {
	color:#fff;
	font-size:18px;
	height:50px;
	line-height:50px
}
.left-bar .title p {
	text-align:center
}
.left-bar .nav {
	flex:1;
	-webkit-box-flex:1;
	flex-grow:1
}
.left-bar .nav .item {
	height:48px;
	line-height:46px;
	border-top:2px solid rgba(255,255,255,.04);
	border-bottom:2px solid rgba(255,255,255,.04)
}
.left-bar .nav>.active {
	position:relative
}
.left-bar .nav>.active .line {
	position:absolute;
	right:0;
	height:30px;
	width:3px;
	background:#3a85ff;
	z-index:100000;
	margin-top:10px
}
.left-bar .nav-item {
	min-height:100vh;
	overflow-y:scroll
}
.left-bar .nav-item::-webkit-scrollbar-track {
	background-color:#494f5e;
	border-radius:0;
	width:4px
}
.left-bar .nav-item::-webkit-scrollbar-thumb {
	background-color:#494f5e;
	border-radius:0;
	width:4px
}
.left-bar .nav-item::-webkit-scrollbar {
	background-color:#494f5e;
	border-radius:0;
	width:4px
}
.left-bar .nav-item li {
	padding-left:20px;
	height:42px;
	line-height:42px
}
.left-bar .nav-item li:hover a,.left-bar .nav-item li:hover i,.left-bar .nav-item li>.active,.left-bar .nav-item li>.active i {
	color:#fff
}
.left-bar .nav-item li a {
	text-decoration:none;
	font-size:18px;
	display:inline-block;
	width:100%;
	color:#6b7386
}
.nav .item a {
	color:#fff
}
.nav .comment {
	position:fixed;
	z-index:100;
	bottom:1px;
	width:160px;
	background:#30333c
}
.main #mainContent {
	max-width:1300px
}
.main .box {
	overflow:hidden;
	margin:20px 30px;
	background:#fff;
	padding-bottom:20px
}
.main .box .sub-category>div {
	padding:12px 0 0 2.1%;
	font-size:18px
}
.main .box .item {
	width:20%;
	border:1px solid #e4ecf3;
	box-shadow:1px 2px 3px #f2f6f8;
	border-radius:6px;
	background:#fff;
	padding:10px;
	min-width:200px;
	margin:22px 0 0 2.1%;
	float:left;
	overflow:hidden;
	transition:all .3s
}
.main .box .item:hover {
	transform:translateY(-5px)
}
.main .box .item .no-logo {
	color:#3273dc;
	font-weight:700;
	font-size:14px
}
.main .box .item .logo {
	height:40px;
	position:relative;
	font-size:14px;
	font-weight:700;
	color:#3273dc;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	padding:0 .1rem
}
.main .box .item .logo img {
	width:40px;
	height:40px;
	border-radius:50%;
	vertical-align:middle
}
.main .box .item .desc {
	color:gray;
	font-size:12px;
	padding-top:10px;
	height:35px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient:vertical
}
.footer {
	width:100%;
	bottom:0;
	line-height:45px;
	background:#fff;
	box-shadow:0 0 1rem rgba(0,0,0,.2)
}
.footer .copyright {
	margin-left:30px;
	color:#949494;
	font-size:12px
}
.footer .copyright a {
	text-decoration:none;
	color:#3a85ff
}
#menu-box {
	display:none;
	width:100%;
	background:#fff;
	text-align:right;
	position:sticky;
	top:0;
	z-index:2;
	box-shadow:1px 1px 8px #e0ddf;
	height:50px
}
#menu-box #menu {
	height:50px;
	width:40px;
	position:absolute;
	right:10px
}
#menu-box #menu * {
	transition:all .3s;
	-webkit-transition:all .3s;
	box-sizing:border-box
}
#menu-box #menu input[type=checkbox] {
	display:none
}
#menu-box #menu input[type=checkbox]:checked~.menu-spin>.horizontal {
	opacity:0
}
#menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-1 {
	transform:rotate(405deg);
	-webkit-transform:rotate(405deg);
	margin-top:10px
}
#menu-box #menu input[type=checkbox]:checked~.menu-spin>.line-2 {
	transform:rotate(-405deg);
	-webkit-transform:rotate(-405deg);
	margin-top:-10px
}
#menu-box #menu label {
	cursor:pointer;
	position:absolute;
	z-index:99;
	height:100%;
	width:100%;
	top:10px;
	left:0
}
#menu-box #menu label .line {
	position:absolute;
	height:4px;
	width:100%;
	background-color:#a2a2a2
}
#menu-box #menu label .horizontal {
	top:10px
}
#menu-box #menu label .line-2 {
	top:20px
}
.download a,.download i {
	color:#3668bd!important
}

@media screen and (max-width:481px) {
	.container .box .item {
	width:39%;
	min-width:100px
}
.container .main {
	margin-left:0
}
.container .left-bar {
	z-index:999;
	left:-249px
}
#menu-box {
	display:block
}
}@media screen and (min-width:481px) {
	.container .left-bar {
	left:0
}
}@media screen and (min-width:482px) and (max-width:789px) {
	.container .box .item {
	width:90%
}
.container .left-bar {
	left:0
}
}@media screen and (min-width:790px) and (max-width:1039px) {
	.container .box .item {
	width:43%
}
}@media screen and (min-width:1040px) and (max-width:1920px) {
	.container .box .item {
	width:20%
}
}


/* 彩色滚动条 */
::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}

/* CSS3实现文字跑马灯(流光)效果 */
.pmd {
            margin: 0;
            background: -webkit-linear-gradient(left,
                #ffffff,
                #ff0000 6.25%,
                #ff7d00 12.5%,
                #ffff00 18.75%,
                #00ff00 25%,
                #00ffff 31.25%,
                #0000ff 37.5%,
                #ff00ff 43.75%,
                #ffff00 50%,
                #ff0000 56.25%,
                #ff7d00 62.5%,
                #ffff00 68.75%,
                #00ff00 75%,
                #00ffff 81.25%,
                #0000ff 87.5%,
                #ff00ff 93.75%,
                #ffff00 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            animation: masked-animation 2s infinite linear;
        }

        @keyframes masked-animation {
            0% {
                background-position: 0 0;
            }

            100% {
                background-position: -100%, 0;
            }
        }
		
/* 跳动的文字start */
 .my-face {
    animation: my-face 5s infinite ease-in-out;
    color: #00f1ff;
    display: inline-block;
    margin: 0 5px;
}
@-webkit-keyframes my-face {
    2%, 24%, 80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }
    4%, 68%, 98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }
    38%, 6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }
    8%, 86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }
    10%, 72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }
    12%, 64%, 78%, 96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }
    14%, 54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }
    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }
    18%, 22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }
    20%, 36%, 46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }
    26%, 50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }
    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }
    30%, 40%, 62%, 76%, 88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }
    32%, 34%, 66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }
    44%, 70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }
    48%, 74%, 82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }
    52%, 56%, 60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }
    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }
    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }
    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}
@keyframes my-face {
    2%, 24%, 80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }
    4%, 68%, 98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }
    38%, 6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }
    8%, 86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }
    10%, 72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }
    12%, 64%, 78%, 96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }
    14%, 54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }
    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }
    18%, 22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }
    20%, 36%, 46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }
    26%, 50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }
    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }
    30%, 40%, 62%, 76%, 88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }
    32%, 34%, 66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }
    44%, 70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }
    48%, 74%, 82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }
    52%, 56%, 60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }
    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }
    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }
    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}
/* end */

/* 右下角图片置顶效果 */
.back-to-top {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("../img/back-to-top.png") no-repeat 0 0;
  background-size: 108px 450px;
  opacity: 0.6;
  transition: opacity 0.3s, right 0.8s;
}
.back-to-top:hover {
  background-position: 0 -150px;
  opacity: 1;
}
.back-to-top.load {
  right: 0;
}

.back-to-top::after {
  content: '';
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 150px;
  background: url("../img/back-to-top.png") no-repeat 0 0;
  background-size: 108px 450px;
  background-position: 0 -300px;
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}

/* 全局添加鼠标样式 */
*{ cursor:url('https://s3.ax1x.com/2020/12/17/r8HSL8.png'),auto;}
a:hover {  cursor: url('https://s3.ax1x.com/2020/12/17/r8bSpR.png'), pointer !important;
}