body header {
	width: 100%;
	height: 150px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

body header .title {
	font-size: 50px;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
}

body header .header_nav {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	margin-bottom: 10px;
	/* cursor: pointer; */
}

body header .header_nav div {
	padding: 12px 0;
	width: 200px;
	text-align: center;
}

body section .swiper_images {
	width: 100%;
}

body section .swiper_images .swiper-container {
	width: 100%;
	height: 100%;
}

body section .swiper_images .swiper-container .swiper-wrapper {
	width: 100%;
	height: 100%;
}

body section .swiper_images .swiper-container .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 100%;
}

body section .swiper_images .swiper-container .swiper-wrapper .swiper-slide img {
	width: 100%;
	height: 100%;
}

body section .swiper_images .swiper-container .swiper-button-prev {
	width: 80px;
	height: 80px;
}

body section .swiper_images .swiper-container .swiper-button-next {
	width: 80px;
	height: 80px;
}

body section .aboutBright {
	width: 1200px;
	margin: 0 auto;
	padding: 60px 0;
	text-align: center;
}

body section .aboutBright div:first-child {
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	color: #ffcc00;
	padding: 0 0 15px 0;
}

body section .aboutBright div:last-child {
	font-size: 14px;
	line-height: 2;
	color: #666666;
}

body section .imgList {
	background-color: #F9F9F9;
	padding: 60px 0 40px 0;
}

body section .imgList .imgList_cent {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

body section .imgList .imgList_cent>div {
	width: calc((100% - 40px) / 3);
	margin-right: 20px;
	margin-bottom: 20px;
}

body section .imgList .imgList_cent>div>div {
	width: 100%;
	height: 100%;
}

body section .imgList .imgList_cent>div>div:hover {
	transform: translateY(-15px);
	-webkit-transform: translateY(-15px);
	box-shadow: 0 0 10px #999999;
	transition-duration: .5s;
}

body section .imgList .imgList_cent>div>div .imgList-top {
	width: 100%;
	height: 363px;
	padding-top: 10px;
	background-color: #ffffff;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

body section .imgList .imgList_cent>div>div .imgList-top:hover {
	box-shadow: inset 0 0 100px #000;
	transition: box-shadow .2s;
}

body section .imgList .imgList_cent>div>div .imgList-top img {
	max-width: 100%;
	max-height: 100%;
}

body section .imgList .imgList_cent>div>div .imgList-bot {
	background-color: #ffffff;
	padding: 15px 10px;
	text-align: center;
}

body section .imgList .imgList_cent>div>div .imgList-bot .imgList-bot-name {
	color: #000000;
	font-size: 15px;
	font-family: emoji;
    padding-bottom: 5px;
}

body section .imgList .imgList_cent>div>div .imgList-bot .imgList-bot-cent {
	color: #898989;
	font-size: 15px;
	line-height: 2;
}

body section .imgList .imgList_cent>div:nth-child(3n) {
	margin-right: 0;
}

body section .my_drame {
	width: 1200px;
	margin: 0 auto;
	padding: 80px 0;
}

body section .my_drame .my_drame_top {
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding: 0 0 30px 0;
}

body section .my_drame .my_drame_bot>div {
	display: flex;
}

body section .my_drame .my_drame_bot>div>div {
	width: 50%;
}

body section .my_drame .my_drame_bot>div .my_drame_right {
	height: 300px;
	width: 50%;
	display: flex;
	overflow: hidden;
	box-shadow: 0 0 10px #999999;
	justify-content: center;
	align-items: center;
}

body section .my_drame .my_drame_bot>div .my_drame_right img {
	width: 100%;
	transition: all 1s;
}

body section .my_drame .my_drame_bot>div .my_drame_right>img:hover {
	transform: scale(1.4);
}

body section .my_drame .my_drame_bot>div .my_drame_left {
	padding: 0 60px;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

body section .my_drame .my_drame_bot>div .my_drame_left a {
	color: #000000;
}

body section .work_time {
	padding: 60px 0;
	position: relative;
}

body section .work_time::after {
	content: "";
	background: url(https://img.imgdb.cn/item/6069d1768322e6675cb2f8f4.jpg) no-repeat;
	background-size: 100% 100%;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

body section .work_time>div {
	width: 1200px;
	margin: 0 auto;
}

body section .work_time>div .work_time_top {
	text-align: center;
}

body section .work_time>div .work_time_top>div:first-child {
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding: 0 0 15px 0;
}

body section .work_time>div .work_time_top>div:last-child {
	line-height: 1.5;
	margin-bottom: 40px;
	text-align: center;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	padding: 0 0 30px 0;
}

body section .work_time>div .work_time_bot {
	position: relative;
	padding-bottom: 40px;
}

body section .work_time>div .work_time_bot .work_time_botCent>div {
	overflow: hidden;
}

body section .work_time>div .work_time_bot .work_time_botCent>div>div .time_top {
	color: #bdbdbd;
	font-size: 36px;
}

body section .work_time>div .work_time_bot .work_time_botCent>div>div .time_bot {
	color: #bdbdbd;
	font-size: 12px;
	padding-top: 10px;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left {
	width: calc((100% - 20px) / 2);
	text-align: justify;
	display: flex;
	padding-right: 30px;
	flex-direction: row-reverse;
	align-items: center;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left>div {
	float: right;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left>div:first-child {
	margin-left: 20px;
	width: 100px;
	text-align: center;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left>div:last-child {
	width: calc(100% - 120px);
	color: #444343;
	font-size: 16px;
	line-height: 2;
	font: 18px/1.5 Tahoma, Helvetica, Arial, '华文行楷', sans-serif;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right {
	width: calc((100% - 20px) / 2);
	display: flex;
	padding-left: 30px;
	align-items: center;
	text-align: justify;
}

/* body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right>div .work_font {
	font-size: 16px;
} */

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right>div {
	float: left;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right>div:first-child {
	margin-right: 20px;
	width: 100px;
	text-align: center;
}

body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right>div:last-child {
	width: calc(100% - 120px);
	color: #444343;
	font-size: 16px;
	line-height: 2;
	font: 18px/1.5 Tahoma, Helvetica, Arial, '华文行楷', sans-serif;
}

body section .work_time>div .work_time_bot .work_time_botCent>div:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
}

body section .work_time>div .work_time_bot .work_time_bot_center {
	position: absolute;
	left: calc((100% - 20px) / 2);
	top: 0;
	z-index: 3;
}

body section .work_time>div .work_time_bot .work_time_bot_center .radius {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: linear-gradient(135deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff); /* 彩虹渐变 */
	box-shadow: 0 0 8px rgba(255, 0, 150, 0.6); /* 霓虹光晕 */
	animation: glow 2s infinite alternate; /* 呼吸光效 */
	transition: transform 0.3s ease-in-out;

}

/* 呼吸光效动画 */
@keyframes glow {
	0% { box-shadow: 0 0 6px rgba(255, 0, 150, 0.4); }
	100% { box-shadow: 0 0 12px rgba(255, 0, 150, 0.8); }
}

/* 悬浮时放大 */
body section .work_time>div .work_time_bot .work_time_bot_center .radius:hover {
	transform: scale(1.5);
}

body section .work_time>div .work_time_bot .work_time_bot_center .line {
	width: 1px;
	min-height: 20px;
	background-color: #cfcfcf;
	position: relative;
	left: 6px;
}

body footer {
	background-color: #000000;
	padding: 40px 0;
	text-align: center;
	line-height: 2;
}

body footer .nameRight {
	font-size: 40px;
	font-weight: bold;
}

body footer div {
	color: #ffffff;
}

body footer div span {
	color: #ffffff;
}

body footer a {
	color: #ffffff;
}

body #toTop {
	width: 50px;
	height: 50px;
	bottom: 10px;
	right: 15px;
	position: fixed;
	cursor: pointer;
	z-index: 999999;
	display: none;
}


@media only screen and (max-width: 768px) {

	body section .aboutBright,
	body section .imgList .imgList_cent,
	body section .my_drame,
	body section .work_time>div {
		width: 100%;
	}

	body section .work_time {
		padding: 20px 0;
	}

	body section .my_drame {
		padding: 20px;
	}

	body section .my_drame .my_drame_bot>div .my_drame_right {
		height: 200px;
		width: 100%;
		display: block;
	}

	body section .imgList .imgList_cent>div {
		width: calc((100% - 20px) / 2);
		margin-right: 10px;
		margin-bottom: 10px;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left>div:last-child {
		font-size: 14px;
	}

	body section .work_time>div .work_time_top>div:last-child {
		margin-bottom: 0;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left {
		margin-right: 5px;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right {
		padding-left: 5px;
	}

	body section .work_time>div .work_time_bot {
		padding: 0 10px;
	}

	body section .work_time>div {
		padding-bottom: 40px;
	}

	body header .header_nav div {
		width: 120px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
	body header {
		height: auto;
	}

	body header .title {
		font-size: 20px;
		line-height: 40px;
	}

	body header .header_nav div {
		width: 100px;
	}

	body section .aboutBright {
		width: 100%;
		padding: 10px;
	}

	body section .aboutBright div:first-child {
		font-size: 20px;
	}

	body section .imgList {
		padding: 20px 0 !important;
	}

	body section .imgList .imgList_cent {
		width: 100%;
	}

	body section .imgList .imgList_cent>div {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
	}

	body section .my_drame {
		width: 100%;
		margin: 0 auto;
		padding: 20px 0;
	}

	body section .my_drame .my_drame_top {
		font-size: 20px;
		padding: 0 0 10px 0;
	}

	body section .my_drame .my_drame_bot>div>div {
		width: 100%;
	}

	body section .my_drame .my_drame_bot>div {
		display: flex;
		display: -webkit-flex;
		flex-wrap: wrap;
		margin-bottom: 10px;
	}

	body section .my_drame .my_drame_bot>div .my_drame_right {
		height: 185px;
		width: 100%;
		display: block;
		max-height: 300px;
	}

	body section .my_drame .my_drame_bot>div .my_drame_left a {
		display: none;
	}

	body section .my_drame .my_drame_bot>div .my_drame_left {
		padding: 0 10px;
		margin-bottom: 10px;
	}

	body section .work_time {
		padding: 20px 0;
	}

	body section .work_time>div .work_time_bot .work_time_bot_center {
		display: none;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left {
		width: 100%;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right {
		width: 100%;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left>div:last-child {
		font-size: 13px;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_left {
		padding-right: 0;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div .work_time_bot_right {
		padding-left: 0;
	}

	body section .work_time>div .work_time_bot .work_time_botCent>div {
		margin-bottom: 10px;
	}

	body section .work_time>div {
		width: 100%;
	}

	body footer .nameRight {
		font-size: 20px;
	}

	body footer {
		padding: 20px 5px;
	}

	body footer a {
		display: block;
		width: 100%;
		overflow: hidden;
	}

	body section .work_time>div .work_time_top>div:last-child {
		margin-bottom: 0;
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		color: #000000;
	}

	body section .work_time>div .work_time_bot {
		padding-bottom: 0;
	}
}